main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body {
    background-color: rgb(23, 0, 85);
}
header {
    background-color: rgb(3, 1, 99);
    min-height: 100px;
    padding: 10px;
    text-align: center;
}
img.b-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 5px solid gray;
    border-radius: 20%;
}
div.banner {
    background-color: rgb(0, 0, 54);
    background-image: url(images/t-ballin.jpg);
    background-repeat: round;
    background-position: 1000px;
    margin-top: 40px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
}
button.pull {
    display: block;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-10px);
}
button.select_button {
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
}
#banner_selector {
    margin-left: auto;
    margin-right: auto;
}