main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    background-color: rgb(23, 0, 85);
}
header{
    background-color: rgb(3, 1, 99);
    min-height: 100px;
    padding: 10px;
    text-align: center;
}
img.b-image{
    padding: 60px;
}
div.banner{
    background-color: rgb(0, 0, 54);
    text-align: center;
}
button.pull{
    display: inline-block;
    padding: 10px;
    margin-bottom: 50px;
}
button.pull + button.pull{
    margin-left: 20px;
}