main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    background-color: rgb(23, 0, 85);
}
header{
    background-color: rgb(3, 1, 99);
    min-height: 100px;
    padding: 10px;
    text-align: center;
}
img.b-image{
    padding: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.banner{
    background-color: rgb(0, 0, 54);
}
button.pull{
    display: block;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
